<!DOCTYPE html>
<html>
  <head>
    <style>
      h1{
        font-size: 40px;
        text-align: center;
        font-family: arial;
      }
      #img{
        display: block;
        margin-left:auto;
        width: 50%;
        height: 300px;

      }
    </style>
    <title>Ride Wave</title>
  </head>
  <body>
    <h1>Ride Wave</h1>
    <img id="img" src="static/car.jpeg" height="320">
    <h2>Current Routine</h2>
    <p>Show the routine here</p>
    <button>contact Us</button>
  </body>
</html>